<button (click)="editUsers()"> Edit Users</button>


<table>
  <thead>
    <th>
      id
    </th>
    <th>
      fname
    </th>
    <th>lname</th>
    <th>username</th>
    <th>email</th>
    <th>password</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.userId}}</td>
      <td>{{user.fname}}</td>
      <td>{{user.lname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>
        <button *ngIf="targetUser" (click)="updateUser(user)">Edit This User</button>
      </td>
    </tr>
  </tbody>
</table>

<app-user-component [user]="targetUser" (updatedUser)="updateUserList()"></app-user-component>